<footer class="footer">
    <div class="footer-container"
        <div class="footer-content">
            <div class="logo">
                <a href="#">logo</a>
            </div>
            <div class="nav">
                <a href="#">whatever</a>
                <a href="#">whatever</a>
                <a href="#">whatever</a>
                <a href="#">contact</a>
            </div>
        </div>
        <div class="social-icons">
            <a href="#">
            <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
            <i class="fab fa-youtube"></i>
            </a>
            <a href="#">
            <i class="fab fa-google-plus-g"></i>
            </a>
        </div>
    </div>
</footer>